// PHONE Portrait & Landscape
@media screen and(min-width: 320px) and(max-width:480px) {
  //
}
// ---------------
// PHONE Portrait
@media screen and(min-width: 320px) {
  //
  .box1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 85, 49);
  }

  .container-quote {
    padding: 5em 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    // the auto fit will make it adaptable to the device.
    // the minmax means that the box will always keep that size, unless i change it.
    // if you dont add the fraction, leaving alone the 250px, the box will occupy the 100% width, but using the fraction will put it in 2 rows.
    background-color: rgb(10, 10, 10);
    .quote {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(104, 104, 71);
      padding: 1em 1em;

      .img-container {
        width: 80%;

        img {
          width: 100%;
          min-height: auto;
          object-fit: cover;
        }
      }
    }
    //
    h2 {
      text-align: center;
      font-size: 10vw;

      .outline {
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
// ---------------
// PHONE Landscape
@media screen and(min-width: 480px) {
  .box1 {
    background-color: rgb(255, 186, 140);
  }
}
// ---------------
// ---------------
//
// TABLET Portrait & Landscape
@media screen and(min-width: 768px) and(max-width:1024px) {
  .box1 {
    background-color: rgb(177, 153, 74);
  }
}

// ---------------
// TABLET Portrait
@media screen and(min-width: 768px) {
  .box1 {
    background-color: rgb(255, 196, 0);
  }
}
// ---------------
// TABLET Landscape
@media screen and(min-width:1024px) {
  .box1 {
    background-color: rgb(7, 44, 255);
  }
}

// ---------------
// ---------------
// Desktop
@media screen and(min-width:1224px) {
  .box1 {
    background-color: rgb(8, 177, 255);
  }
}
// ---------------
// LARGE Desktop
@media screen and(min-width:1824px) {
  .box1 {
    background-color: rgb(241, 91, 141);
  }
}
//
//
