//
//

//
.box1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(177, 85, 49);
}
