header {
  // border: 1px solid rgb(190, 253, 15);

  .inner-header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #416451;
    // border: 1px solid #000;
    // -----------
    //   z-index DO NOT WORK unless you define a position
    // So if you dont define a position relative / absolute /fixed they dont know to what the z-index have to be relative to.
    position: relative;
    // ------------
    //
    .menu {
      z-index: 10;
      position: absolute;
      top: 4vh;
      right: 6vw;
      transform: translate(-6%, -4%);
      button {
        color: #eeedeb;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
    // ------------
    //
    .outline-innerheader {
      margin: 30px 0 0 60px;
      text-decoration: none;
      .outline-home1 {
        font-size: 5em;
        font-weight: 600;
        color: #eeedeb;
      }
    }

    // --------------
    //  text navigation
    // --------------

    p {
      margin: 30px 0 0 60px;
      width: 53%;

      font-weight: 100;
      font-size: 1.6em;
      line-height: 30px;
      letter-spacing: 1px;
      color: #eeedeb;
      padding: 10px;

      //
      position: absolute;
      top: 90vh;
      left: 0vw;
      transform: translate(-0%, -90%);
      .link-bio-nav {
        color: #eeedeb;
        margin: 0 10px;
        font-size: 0.8em;
        &:hover {
          color: rgb(58, 58, 58);
        }
      }
    }
  }

  //
  //
  //
  //   -------------------
  //          Hamburger
  //   -------------------
  //
  // Hamburger content , it s what is going
  // to be shown when clicking on the menu
  // button
  //

  // nav open
  .hamburger-menu {
    display: none; //you can replace it with display just to see what you have
    z-index: 9; //it means it will be under the green box of the .inner-header {  since  the .inner-header has a z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    //
    //-------------
    //  .menu-layer
    //
    .nav_menu-layer {
      position: relative;
      background-color: rgb(10, 10, 10);
      height: 100%;
      overflow: hidden;

      //-------------
      //  .menu-layer
      //-------------
      //
      .nav_menu-layer-wrapper {
        .menu-links {
          position: relative;
          //

          nav {
            position: absolute;
            top: 42vh;
            left: 30vw;
            transform: translate(-30%, -42%);
            ul {
              li {
                list-style: none;
                font-size: 3rem;
                font-weight: 700;
                cursor: pointer;
                //
                line-height: 52px;

                a {
                  color: #eeedeb;
                  text-decoration: none;
                  &:hover {
                    color: #979797;
                  }
                }
              }
            }
          }
        }
      }

      // this we dont need but maybe we can fin a replacement
      .follow-links-menu-links {
        position: absolute;
        top: 91vh;
        left: 45vw;
        transform: translate(-45%, -91%);
        //
        //
        color: #eeedeb;
        margin-top: 16px;
        font-size: 0.9rem;
        font-weight: 600;
        span {
          cursor: pointer;
          &:first-child {
            margin-left: 40px;
          }
          font-weight: 400;
          margin: 0 32px;
          transition: 0.3s ease-in-out;
          &:hover {
            color: #eeedeb;
            background: #111111;
            padding: 8px 24px;
            border-radius: 4px;
          }
        }
      }
      //-**
    }
    //
    //-------------
    //  .menu-layer  end
    //-------------
    //
  }
}
